.listaIzquierda {
    margin-left: auto;
    margin-right: auto;
}

.listaDerecha {
    background-color: rgb(255, 255, 255);
    height: 80vh;


}


.cuadroIzquierdo {

    background-color: #0B7FCE;
    width: 100%;
    height: 80vh;
    border-radius: 25px;
    margin-top: 15%;

}




table {
    align-items: center;
    align-self: center;
}

th,
td {
    padding: 8px;
    color: white;
    font-size: auto;
}



.cuadroDer {
    width: 100%;
    height: 80vh;
    background-color: #0b80ce00;
    border: 3px solid #0B7FCE;
    border-radius: 25px;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../../image/Recurso1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5%;
    
   


}
@media (max-width: 768px) {
    .cuadroDer {
      background-size: 80%;
     
    }
}


th {
    background-color: #606060 !important;
}

tr {
    border: 2px solid #0B7FCE;
}

tbody {
    height: 65vh;
    max-height: 100vh;
}

.reco {
    border: 2px solid #0B7FCE;
    background-color: #ffffffbe !important;
}


.table-recorrido {
    margin-top: 2%;
    width: 93%;
    margin-right: auto;
    margin-left: auto;
    
}