
  
  .recuadroIzq {
    display: block;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    height: 90vh;
    /* background-color: aqua; */
  }
  
  .widht-100 {
    width: 100%;
  }

  .imagefondoizq{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }


  

  .recuadroDer {
    display: block;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    height: 90vh;
  
  }
  .containerDer{
    display: flex;
  }
  
  .recuadro2 {
    background-color: #0B7FCE;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
  }
  
 .linea-horizontal{
  height: 4px;
  width: 90%;
  background-color:#0B7FCE;
  
 }
 

  
  
  .btn {
    color: rgb(255, 255, 255);
    background: #0B7FCE;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  h1 {
    color: #0B7FCE;
    display: flex;
    font-size: 500%;
  }

.imageicon{
  bottom: 0;
  right: 0;
  position: fixed;
}

.linea-vertical{
  width: 0.5%; 
  height: 400px;
  background-color: #0B7FCE; 
  margin: 0 auto; 
}