
.App-link {
  color: #61dafb;
}

.App-image1{
  position: absolute;
  bottom: 250px ;
  left: 280px;
  width: 500px ;
  height: auto;
  align-self: auto;
}

.App-image2{
  position:absolute;
  bottom: 10px;
  right: 20px;
  height: auto;
  width: 100px;
}

.lineasarribader{
  background-color:#0B7FCE;
  position:absolute;
  right: 0%;
  width: 150px;
  height: 55px;
  
}
.lineasarribaizq{
  background-color: #0B7FCE;
  width: 1700px;
  height: 55px;
  
}


.linea-container{
  display: flex;
  align-items: flex-start; 
  justify-content: space-between; 
  width: 100%; 
}



.text1{
  text-align: right;
  color: #0B7FCE;
  padding-right: 34%;
  transform: translateY(-70px);
  font-size: 30px;
  font: 200% sans-serif; 
}
.lineahor{
  height: 5px;
  margin-top: -100px;
  background-color: #0B7FCE;
  width:700px;
  transform: translateX(150%);
  
}

.text2{
  text-align: right;
  transform: translateY(0px);
  padding-right: 20% ;
  
}

.Ccuadrante{
  position: absolute;         
  top: 50%;
  right: 30%;
  width: 200px;                   
  transform: translateY(-45%);         
  height: 100px;
}
.IDpatrulla {
  position: absolute;
  right: 30%;                     
  transform: translateY(500%); 
  width: 200px;        
  height: 50px;
  
}

.cuadrofondo{
  width: 500px; 
  height: 180px; 
  background-color: #0B7FCE;
  position: relative;
  top: 325px;
  transform:translateX(1070px);
  border-radius: 12px;
}
input{
  height: 30px;
  width: 350px;
}


.boton{
  position: relative;
  left: 1215px;
  width: 220px;
  height: 40px;
  color: white;
  background: #0B7FCE;
  border-radius: 10px;
  border:0cap;
  bottom: 380px;

}

.lineaver{
  width: 5px;
  transform: translateY(-35%);
  background-color: #0B7FCE;
  margin:auto;
  height:65vh;


}

/*Segunda pagina*/

.pg2bordeder{
  background-color:#0B7FCE;
  position:absolute;
  right: 0%;
  width: 150px;
  height: 75px;
 
  
  
}
.pg2borde{
  background-color: #0B7FCE;
  width: 1700px;
  height: 75px;
  
}


.cuadro2-container2{
  display: flex;
  align-items: flex-start; 
  justify-content: space-between; 
  width: 100%; 
}

.cuadroclasipg2{
  background-color: #0B7FCE;
  position: absolute;
  width: 400px;
  height: 800px;
  border-radius: 30px;
  transform: translateY(5%);
  left: 40px;
}

.cuadropg2der{
  background-color: #ffffff00;
  border: 2px solid #0B7FCE; 
  position: absolute;
  width: 1325px;
  height: 800px;
  border-radius: 30px;
  left: 500px;  
}

.App-image1pg2{
  width: 700px;
  height: 700px;
  position: relative;
  transform: translateX(70%);
  top: -100px;
  opacity: 0.2;
}
.App-image2pg2{
  position: relative;
  transform:translateY(-50%);
  left: 78%;
  width: 130px;
}
.App-image3pg2{
  position: relative;
  top: -715px;
  left: 90px;
  height: 60px;
  
}

.App-image4pg2{
  position: relative;
  top: -625px;
  left: 30px;
  height: 60px;
  
}

.App-image5pg2{
  position: relative;
  top: -535px;
  left: -30px;
  height: 60px;
  
}

.App-image6pg2{
  position: relative;
  top: -445px;
  left: -90px;
  height: 60px;
  
}

.text1pg2{
  position: relative;
  left: 180px;
  transform:translateY(500%);
  color: white;
  font-size: large;
}
.text1pg2:hover{
  color: rgb(5, 5, 5);
}

.text2pg2{
  position: relative;
  cursor: pointer;
  left: 180px;
  transform:translateY(700%);
  color: white;
  font-size: large;
}

.text3pg2{
  position: relative;
  cursor: pointer;
  left: 180px;
  transform:translateY(900%);
  color: white;
  font-size: large;
}

.text4pg2{
  position: relative;
  cursor: pointer;
  left: 180px;
  transform:translateY(1100%);
  color: white;
  font-size: large;
}
/*TERCER PAGINA*/
.pg3bordeder{
  background-color:#0B7FCE;
  position:absolute;
  right: 0%;
  width: 150px;
  height: 75px;
 
  
  
}
.pg3borde{
  background-color: #0B7FCE;
  width: 1700px;
  height: 75px;
  
}

.cuadroclasipg3{
  background-color: #0B7FCE;
  position: absolute;
  width: 400px;
  height: 800px;
  border-radius: 30px;
  transform: translateY(5%);
  left: 40px;
}

.cuadropg3der{
  background-color: #ffffff00;
  border: 2px solid #0B7FCE; 
  position: absolute;
  width: 1325px;
  height: 800px;
  border-radius: 30px;
  left: 500px;  
}

.cuadrogris{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #0B7FCE ;
  position: absolute;
  width: 88%;
  height: 650px;
  right: 6%;
  transform: translateY(12%);
  border-radius: 20px;
  
}

.table {
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: center; 

}


table {
  width: 90%;
  transform: translateY(30%);
  border-collapse: collapse; /*Eliminar espacios entre bordes*/
  text-align: center;
  
}


th {
  color: white; 
  border: 2px solid black; 
  background-color: #606060 ; 
  padding: 10px; 
  font-size: 18px;
  font-weight: bold;
  
}

.App-image1pg3{
  position: relative;
  left: 25%;
  width: 650px;
  height: 650px;
  opacity: 0.2;
}

.App-image3pg3{
  position: relative;
  top: -75px;
  left: 90px;
  height: 60px;
  
}

.App-image4pg3{
  position: relative;
  left: 30px;
  height: 60px;
  top: 15px;
  

}

.App-image5pg3{
  position: relative;
  height: 60px;
  left : -30px;
  top : 105px;
 
  
}

.App-image6pg3{
  position: relative;
  height: 60px;
  left : -90px;
  top: 195px;
  
  
}
.App-image2pg3{
  position: relative;
  transform:translateY(27%);
  left: 40%;
  width: 130px;
  opacity: 0.4;
}











  
  

